@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>Изменение 2</h2>
<h3>Изменение 3</h3>
<p>Use this page to detail your site's privacy policy.</p>
<input type="tel" name="name" value="dsadsadsa" />